.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .counter{
    text-align: center;
  }


  @keyframes flipup{
  from{ transform: translateY(20px)}    
  to{ transform: translateY(0)}    
  }

